<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common::header('我的博客')">

<body>
    <!-- 导航栏 -->
    <div th:include="common::nav"></div>

    <!-- 内容 -->
    <div class="container-fluid" style="margin-top:30px">
        <div class="row">
            <!-- 左侧栏位 -->
            <div class="col-sm-2">
                <h2>关于我</h2>
                <h5>我的照片:</h5>
                <div class="fakeimg">
                    <img src="http://39.106.170.35/pictures/dumbo.png" class="rounded mx-auto d-block" alt="..." width="200" height="200">
                </div>
                <p>关于我的介绍..</p>
                <h3>一些链接</h3>
                <p>说明文本</p>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">我的专栏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Dumbo66"  target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://blog.csdn.net/zxr90977299"  target="_blank">CSDN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.jianshu.com/u/a0eef704d592"  target="_blank">简书</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.zhihu.com/people/dumbo-57/activities"  target="_blank">知乎</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>

            <!-- 中间栏位 -->
            <div class="col-sm-8">
                <h2>标题</h2>
                <h5>副标题</h5>
                <div class="fakeimg">图像</div>
                <p>一些文本..</p>
                <p>我们的征途是星辰大海！！！</p>
                <br>
                <h2>标题</h2>
                <h5>副标题</h5>
                <div class="fakeimg">图像</div>
                <p>一些文本..</p>
                <p>我们的征途是星辰大海！！！</p>
            </div>

            <!-- 右侧栏位 -->
            <div class="col-sm-2">
                <h2>关于我</h2>
                <h5>我的照片:</h5>
                <div class="fakeimg">这边插入图像</div>
                <p>关于我的介绍..</p>
                <h3>一些链接</h3>
                <p>说明文本</p>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">激活状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">链接</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">链接</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">禁用</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>
        </div>
    </div>

    <!-- 底部内容 -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>底部内容</p>
    </div>

    <!--Footer-->
    <div th:include="common::footer"></div>
</body>
</html>