<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dumbo.server.dao.SitesDao">
    <resultMap id="BaseResultMap" type="com.dumbo.server.entity.Sites">
        <id column="site_id" jdbcType="INTEGER" property="siteId" />
        <result column="lat_bd09ll" jdbcType="DOUBLE" property="latBd09ll" />
        <result column="lng_bd09ll" jdbcType="DOUBLE" property="lngBd09ll" />
        <result column="work_state" jdbcType="VARCHAR" property="workState" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
        site_id, lat_bd09ll, lng_bd09ll,work_state,description
    </sql>

    <!--增-->
    <insert id="insert" parameterType="com.dumbo.server.entity.Sites">
        INSERT INTO
          sites (lat_bd09ll, lng_bd09ll,work_state,description)
        VALUES
          (#{latBd09ll,jdbcType=DOUBLE}, #{lngBd09ll,jdbcType=DOUBLE},
           #{workState,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <!--删-->
    <delete id="deleteBySiteId" parameterType="java.lang.Integer">
        DELETE
        FROM
            sites
        WHERE
            site_id = #{siteId,jdbcType=INTEGER}
    </delete>

    <!--改-->
    <update id="update" parameterType="com.dumbo.server.entity.Sites">
        UPDATE
          sites
        SET
          lat_bd09ll = #{latBd09ll,jdbcType=DOUBLE},
          lng_bd09ll = #{lngBd09ll,jdbcType=DOUBLE},
          work_state = #{workState,jdbcType=VARCHAR},
          description = #{description,jdbcType=VARCHAR}
        WHERE
          site_id = #{siteId,jdbcType=INTEGER}
    </update>

    <!--查某一监测点信息-->
    <select id="selectBySiteId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid = "Base_Column_List" />
        FROM
        sites
        WHERE
        site_id = #{siteId,jdbcType=INTEGER}
    </select>

    <!--查所有检测点信息-->
    <select id="selectAllSites" resultMap="BaseResultMap">
        SELECT
          <include refid = "Base_Column_List" />
        FROM
          sites;
    </select>

</mapper>
